<header>
<nav>
    <ul>
        <li><a href="/home" id="home" class="btn-no-style">Home</a></li>
        <li><a href="/dashboard" id="dashboard" class="btn-no-style">Dashboard</a></li>
        <li><a href="/logout" id="logout" class="btn-no-style">Logout</a></li>
         
    </ul>
  
</nav>
<div class="home-title">
 <h1>TechBlog</h1>
</div>

</header>

<div class="userPosts">
    <h1>Your Posts</h1>
    <section>

        <a href="/newpost">Create a New Post</a>
    </section>
</div>


    <div class="post-container">
        {{#if posts}}
        {{#each posts as |post|}}
        {{>post-info}}
        <a class="edit-a" href="/dashboard/edit-post/{{post.id}}"><button class="edit-button">Edit</button></a>

        {{/each}}

        {{/if}}

    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="/js/logout.js"></script>
<script src="/js/dashboard.js"></script>