{{!-- <body>
  <div class="wrapper"> --}}

<header>
    {{!-- <div> --}}
   
<nav>
    <ul>
        <li><a href="/home" id="home" class="btn-no-style">Home</a></li>
        <li><a href="/dashboard" id="dashboard" class="btn-no-style">Dashboard</a></li>
        <li><a href="/logout" id="logout" class="btn-no-style">Logout</a></li>
    </ul>
</nav>

<div>
     <h1 class="home title">TechBlog</h1>
</div>
</header>

{{!-- <div class="column1">
    <div class="welcome">
        <h1>Welcome to the TechBlog</h1>
        <h4>Login to view the latest posts</h4>
    </div>
</div> --}}


{{!-- <main> --}}
<div class="post-container">
    {{#each posts as |post|}}
    {{> post-info post }}
    {{!-- {{/each}} --}}
</div>

{{else}}
<h6 class="pb-4 has-text-centered is-italic">There are currently no posts</h6>
{{/each}}

{{!-- </main>  --}}

{{!-- </div> --}}



{{!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> --}}


 <script src="./js/homepage.js"></script>

 {{!-- <script src="/js/create-post.js"></script> --}}

<script src="./js/logout.js"></script>
<script src="./js/dashboard.js"></script>
 

