<main>
    <div class="container image1">
        <div class="row login">

            <div class="col login-card">
                <h1 class="page-title text-dark">Login</h1>
                <form class="form login-form">

                    <div class="form-group">
                        <label for="email-login" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit">Log Me In</button>
                    </div>
                </form>

                <p class="account">Don't have an account? <span> <a href="/sign-up">Sign Up</a></span></p>
            </div>

            <div class="col login-welcome">
                <p class="welcome-back">Welcome Back to TechBlog!</p>
                <p>Further text</p>

                <ul>
                    <li>text1 </li>
                    <li>text2</li>
                    <li>text3</li>
                    <li>text4</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
<script src="/js/login.js"></script>