{{!-- <header>
    <h1>TechBlog</h1>

</header>
<nav>
    <ul>
        <li><button id="home" class="btn-no-style">Home</button></li>
        <li><button id="dashboard" class="btn-no-style">Dashboard</button></li>
        <li><button id="logout" class="btn-no-style">Logout</button></li>
    </ul>
</nav>
</header> --}}


<div class="post-container">
    {{> post-info post}}
    {{> comments post.comments}}
</div>

{{#if loggedIn}}
<form class="comment-form">
    <div >
        <textarea class="ml-5" id="comment-body" name="comment-body"></textarea>
    </div>

    <div>
        <button class="button is-warning ml-5 mb-5" type="submit">Add a comment</button>
    </div>

</form>

{{/if}}

{{#if loggedIn}}

{{!-- <script src="/js/logout.js"></script>
<script src="/js/dashboard.js"></script> --}}
<script src="/js/comment.js"></script>

{{/if}}